.styleheader {
    color: white;
}

.styleheader a:hover {
    color: #ffc0cb;
    text-shadow: 0 0 10px #ffc0cb;
    transition: color 0.3s ease;

}

.styleheader .navbar-title {
    font-family: 'fantasy', 'copperplate';
    font-weight: bold;

}

.styleheader .nav-link,
.styleheader .navbar-brand {
    font-family: 'fantasy', 'copperplate';
}
